[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
setuptools = "*"
dj-database-url = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
gunicorn = "*"
pillow = "*"
pygments = "*"
python-decouple = "*"
whitenoise = "*"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
