[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
gunicorn = "*"
pillow = "*"
pygments = "*"
whitenoise = "*"
python-dotenv = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
