name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8, 3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Make envfile
      uses: SpicyPizza/create-envfile@v1.3
      with:
        envkey_DEBUG: 1
        envkey_SECRET_KEY: 'django-insecure-bcsivcsbsibisv'
        envkey_GITHUB_URL: ${{ secrets.GITHUB_URL }}
        envkey_GITLAB_URL: ${{ secrets.GITLAB_URL }}
        envkey_CALL_BACK_URL: ${{ secrets.CALL_BACK_URL }}
        envkey_GITHUB_CLIENT_ID: ${{ secrets.GITHUB_CLIENT_ID }}
        envkey_GITHUB_CLIENT_SECRET: ${{ secrets.GITHUB_CLIENT_SECRET }}
 
    - name: Run Tests
      run: |
        python manage.py test
